.work {
    width: 350px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    max-height: 200px;
    background-color: #c8c4c4;
    width: 100%;
}
.button {
    display: flex;
    background-color: #807f7f;
    width: 110px;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bolder;
    cursor: pointer;
}
.descriptionBlock {
    width: 100%;
    background-color: #f8edb2;
}
.descriptionBlock h4 {
    width: max-content;
    background-color: #c8c4c4;
    margin: 5%;
}
.description {
    width: 90%;
    background-color: #c8c4c4;
}